numpy
omegaconf
pandas
loguru
pytorch-lightning==1.9
scikit-learn
scipy
albumentations
torchmetrics
timm
matplotlib
jupyterlab
streamlit
plotly
streamlit-pandas-profiling
ipywidgets
kaggle
audiomentations
colorednoise
torchlibrosa
onnx
onnxruntime
tensorboard
